/* GENERAL RULES FOR THE WHOLE PAGE */

:root {
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --snow: #8B8989;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --light-grey: #4A4A4A;
  --smoke-white: #F5F5F5;
  --darker-gray: #515151;
  --ruby-red: #e0115f;
  --scarlet-red: #ff2400;
  --seashell-grey: #8B8386;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #FFF;
  font-family: 'Dancing Script';
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* ----------------------------HEADER---------------------------------------- */

header {
  width: 80%;
  height: 10vh;
  margin: 0 auto;
}

header nav div {
  display: inline
}

nav div:first-of-type img {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}

nav div:nth-child(2) {
  float: right;
  margin-top: 20px;
}

nav div:nth-child(2) input {
  width: 500px;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

nav div:nth-child(2) button {
  background-color: var(--roman-red);
  width: 100px;
  height: 40px;
  font-weight: bolder;
  border-radius: 5px;
}

/* --------------------------MAIN-------------------------------------------- */

main {
  position: relative;
}

#disappearingPic img:first-of-type {
  width: 100%;
  height: 90vh;
}

#disappearingPic img:last-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main div:first-of-type img {
  width: 500px;
  height: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 400px;
  min-height: 450px;
  display: flex;
  justify-content: center;
  margin: 40px 30px 40px 30px;
  white-space: nowrap;
  transition: 0.5s;
}

.films:before,
.series:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container .box::before,
.container .box::after {
  background: linear-gradient(315deg, var(--roman-red), var(--light-grey));
}

.otherContainer .box::before,
.otherContainer .box::after {
  background: linear-gradient(315deg, var(--scottish-blue), var(--darker-gray));
}

.box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
  overflow: hidden;
}

.box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.content {
  max-height: 390px;
  z-index: 3;
  padding: 10px 40px;
  text-align: center;
}

.content ul li h2 {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.content ul li p {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

/* FLAG IMG */
.content ul li:nth-child(3) a img {
  width: 10%;
  height: 10%;
}

/* STARS */
.content ul li:nth-child(4) .fa-star {
  color: var(--darker-yellow);
  font-size: 20px;
}

/* POSTER IMG */
.content ul li:nth-child(5) a img {
  width: 60%;
  height: 60%;
  border-radius: 10px;
}

/* DEFAULT IMG */
#boolflixLogo {
  width: 60%;
  height: 290px;
  border-radius: 10px;
}

/* ON HOVER BOX GOES UP */
.container .box:hover {
  transform: translateY(-25px);
}
