/* GENERAL RULES FOR THE WHOLE PAGE */

:root {
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --snow: #8B8989;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --light-grey: #4A4A4A;
  --smoke-white: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #FFF;
  font-family: 'Dancing Script';
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* -------------------------------------------------------------------------- */

main div:first-of-type button {
  background-color: red;
  width: 100px;
  height: 20px;
  border: none;
}
